<#include "header.html" />
<#include "author.html" />
<link rel="stylesheet" href="../../styles/result.css">
<link rel="stylesheet" href="../../styles/detail.css">
<link rel="stylesheet" type="text/css" href="../../styles/common.css">
<div id="main">
    <div class="zg-wrap zu-main clearfix ">
        <span class="zm-profile-section-name">
            <a href="/user/${profileUser.user.id}">返回上一级</a>
        </span>
        <br>
        <div class="zm-profile-section-wrap zm-profile-followee-page">
            <div class="zm-profile-section-head">
                    <span class="zm-profile-section-name">
                        <a href="/user/${profileUser.user.id}">${profileUser.user.name}</a> 收藏了 ${followeeCount}个问题
                    </span>
            </div>
            <div class="zm-profile-section-list">
                <div id="zh-profile-follows-list">
                    <div class="zh-general-list clearfix">
                        <#list followQuestions as followQuestion>
                        <div class="zm-profile-card zm-profile-section-item zg-clear no-hovercard">
                            <!-- 取消收藏按钮 -->
<!--                            <#if vo.followQ == true >-->
<!--                            <div class="zg-right">-->
<!--                                <button class="follow-button zg-follow zg-btn-white js-follow-question" data-status="1" data-id="${vo.question.id}">取消收藏</button>-->
<!--                            </div>-->
<!--                            <#else>-->
<!--                            <div class="zg-right">-->
<!--                                <button class="follow-button zg-follow zg-btn-green js-follow-question" data-id="${vo.question.id}">收藏</button>-->
<!--                            </div>-->
<!--                        </#if>-->
                        <a title="Barty" class="zm-item-link-avatar" href="/user/${profileUser.user.id}">
                            <img src="${profileUser.user.headUrl}" class="zm-item-img-avatar">
                        </a>
                        <div class="zm-list-content-medium">
                            <h2 class="feed-title">

                                <!--问题链接展示，点击后跳转到该问题具体页面-->
                                <a class="question_link" href="/question/${followQuestion.id}">${followQuestion.title}</a></h2>
                            <div class="feed-question-detail-item">
                                <div class="question-description-plain zm-editable-content"></div>
                            </div>
                            <div class="expandable entry-body">
                                <div class="zm-item-answer-author-info">

                                    <!--展示用户名字，点击后跳转到用户主页-->

                                    <a class="author-link" data-tip="p$b$amuro1230"  href="/user/${profileUser.user.id}">${profileUser.user.name}</a>
                                    <span title="问题创建时间" class="bio">&nbsp;&nbsp;${followQuestion.createdDate?string("yyyy-MM-dd HH:mm:ss")}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </#list>
            </div>
            <!--
                    <a aria-role="button" class="zg-btn-white zu-button-more">更多</a>
                    -->
        </div>
    </div>
</div>
</div>
</div>
<#include "js.html" />
<script type="text/javascript" src="/scripts/main/site/detail.js"></script>
<script type="text/javascript" src="/scripts/main/jquery.js"></script>
<script type="text/javascript" src="/scripts/main/base/base.js"></script>
<script type="text/javascript" src="/scripts/main/base/util.js"></script>
<script type="text/javascript" src="/scripts/main/base/event.js"></script>
<script type="text/javascript" src="/scripts/main/util/action.js"></script>
<script type="text/javascript" src="/scripts/main/util/business.js"></script>
<script type="text/javascript" src="/scripts/main/component/component.js"></script>
<script type="text/javascript" src="/scripts/main/component/popup.js"></script>
<script type="text/javascript" src="/scripts/main/component/popupAdd.js"></script>
<script type="text/javascript" src="/scripts/main/component/popupMsg.js"></script>
<script type="text/javascript" src="/scripts/main/site/home.js"></script>
<script async="" src="/scripts/ga.js"></script>
<script type="text/javascript" src="/scripts/main/jquery.js"></script>
<script type="text/javascript" src="/scripts/main/site/follow.js"></script>
<#include "footer.html" />