<!DOCTYPE html>
<html lang="zh-CN" dropeffect="none" class="js is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile" style="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script async="" src="/scripts/ga.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-ZA-Response-Id" content="46acde5c53db46f2806ccad726de9826">
    <title>校园内自动知识应答平台</title>
    <meta name="apple-itunes-app" content="app-id=432274380">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="mobile-agent" content="format=html5;url=https://nowcoder.com/">
    <meta id="znonce" name="znonce" content="d3edc464cf014708819feffde7ddd01e">
    <link rel="search" type="application/opensearchdescription+xml" href="https://nowcoder.com/static/search.xml" title="在线问答平台">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <link rel="stylesheet" type="text/css" href="/styles/common.css">
    <style>
        .zm-item-answer-author-info a.collapse {margin-top: 0}

        a:hover{
            text-decoration:none;
        }

    </style>
    <script type="text/javascript" src="/scripts/main/jquery.js"></script>
    <script>
        $(document).ready(
            function () {
              
        });
        function todo(){
            alert("还没有做，别急");
        }
    </script>
</head>
<body class="zhi ${bodyclass}">
<div role="navigation" class="zu-top" style="background-color: #ffffff; height: 50px;box-shadow: 3px 3px 5px #eee;border-bottom: 1px solid #fff;">
    <div class="zg-wrap modal-shifting clearfix" id="zh-top-inner">

<!--        <a href="/" class="zu-top-link-logo" id="zh-top-link-logo" data-za-c="view_home" data-za-a="visit_home" data-za-l="top_navigation_zhihu_logo">-->
<!--        </a>-->

        <div class="top-nav-profile">
            <#if user??>
            <a href="/user/${user.id}" class="zu-top-nav-userinfo " id=":0" role="button" aria-haspopup="true">
                <span class="name" style="color: #00bc9b;font-weight: bold;font-size: 15px">${user.name}</span>
                <img class="Avatar" src="${user.headUrl}" alt="${user.name}">
                <span id="zh-top-nav-new-pm" class="zg-noti-number zu-top-nav-pm-count" style="visibility:hidden" data-count="0">
                </span>
            </a>
            <ul class="top-nav-dropdown" id="top-nav-profile-dropdown" aria-labelledby=":0" style="background: #00bc9b">
                <li >
                    <a href="/user/${user.id}" tabindex="-1" id=":1">
                        <i class="zg-icon zg-icon-dd-home"></i>我的主页
                    </a>
                </li>
                <li >
                    <a href="/msg/list" tabindex="-1" id=":2">
                        <i class="zg-icon zg-icon-dd-pm"></i>私信
                        <span id="zh-top-nav-pm-count" class="zu-top-nav-pm-count zg-noti-number" style="visibility:hidden" data-count="0">
                    </span>
                    </a>
                </li>
                <li >
                    <a href="/logout" tabindex="-1" id=":4">
                        <i class="zg-icon zg-icon-dd-logout"></i>退出
                    </a>
                </li>
            </ul>
            <#else>
            <div  class="zu-top-nav" >
                <ul class="zu-top-nav-ul zg-clear">
                    <li class="zu-top-nav-li ">
                        <a class="zu-top-nav-link" href="/loginReg" style="background-color: #fff; color: #00BC9B; font-size: 15px;">登录</a>
                    </li>
                </ul>
            </div>
            </#if>
        </div>
        <button class="zu-top-add-question" id="zu-top-add-question" style="color:white;font-weight: bold;font-size: 15px">提问</button>

        <div id="zg-top-nav" class="zu-top-nav">
            <ul class="zu-top-nav-ul zg-clear">
                <li class="zu-top-nav-li " >
                    <a class="zu-top-nav-link" href="/" data-za-c="view_home" data-za-a="visit_home" data-za-l="top_navigation_home">
                        <img src="/images/img/logo.png" style="height: 100%;">
                    </a>
                </li>
                <li class="zu-top-nav-li " id="zh-top-nav-home">
                    <a class="zu-top-nav-link" href="/" id="zh-top-link-home" data-za-c="view_home" data-za-a="visit_home" data-za-l="top_navigation_home"><span style="color:#25bb9b;font-weight: bold;font-size: 15px">首页</span></a>
                </li>
                <!--
                <li class="zu-top-nav-li " id="zh-top-nav-explore">
                    <a class="zu-top-nav-link" href="javascript:todo();"> <span style="color: white;">推荐</span></a>
                </li>
                -->
                <li class="zu-top-nav-li " >
                    <a class="zu-top-nav-link" href="/msg/list" ><span style="color: #25bb9b;font-weight: bold;font-size: 15px">私信</span></a>
                </li>
                <li class="top-nav-noti zu-top-nav-li ">
                    <a class="zu-top-nav-link" href="javascript:;" id="zh-top-nav-count-wrap" role="button"><span class="mobi-arrow" ></span><span style="color: #25bb9b;font-weight: bold;font-size: 15px">写信</span><span id="zh-top-nav-count" class="zu-top-nav-count zg-noti-number" style="display: none;">0</span></a>
                </li>
            </ul>
        </div>
    <div role="search" id="zh-top-search" class="zu-top-search">
        <form method="GET" action="/search" id="zh-top-search-form" class="zu-top-search-form">
            <label for="q" class="hide-text">在线问答平台搜索</label><input type="text" class="zu-top-search-input" id="q" name="q" autocomplete="off" value="${keyword}" placeholder="搜索你感兴趣的内容..." role="combobox" aria-autocomplete="list">
            <button type="submit" class="zu-top-search-button"><span class="hide-text">搜索</span><span class="sprite-global-icon-magnifier-dark"></span></button>
        </form>
    </div>
    </div>
</div>