<!--/*-->
<!--author:吴雨微-->
<!--createtime：2020-3-2-->
<!--updatetime：2020-3-10-->
<!--*/-->
<!DOCTYPE html>
<html lang="zh-CN"
      class="is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=1200, initial-scale=0.66"/>
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/my-login.css">
</head>
<body class="my-login-page">
<section class="h-100">
    <div class="container h-100" style="margin:auto;width: 400px;height: 300px;">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="/images/img/logo.png">
                </div>
                <div class="card fat">
                    <div class="card-body">
                        <h3 class="card-title" style=" text-align:center;">校园内自动知识应答平台</h3>
                        <h2 class="subtitle" style="color: red; text-align:center; font-size: 15px;">
                            <#if msg??>
                                ${msg}
                            </#if>
                        </h2>
                        <form method="POST">

                            <div class="form-group">
                                <label for="username">用户名</label>
                                <input id="username" type="text" class="form-control" name="username" aria-label="手机号或邮箱">
                            </div>

                            <div class="form-group">
                                <label for="password">密码</label>
<!--                                <input type="password" name="password" aria-label="密码" placeholder="密码" required="">-->
                                <!--										<a href="forgot.html" class="float-right">-->
                                <!--											Forgot Password?-->
                                <!--										</a>-->
                                <input id="password" type="password" class="form-control" name="password" aria-label="密码" placeholder="密码" required="">
                            </div>

                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="rememberMe" value="true"> 记住我
                                </label>
                            </div>

                            <div class="form-group no-margin">
                                <button type="submit" class="btn btn-primary btn-block" onclick="form=document.getElementById('loginReg');form.action='/login'">
                                    登录
                                </button>
                            </div>
                            <div class="margin-top20 text-center">
                                没有账号? 点击<a href="/reg_prepare">注册</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer">
                    Copyright ©2020 Powered By Mickey . All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/scripts/jquery.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/my-login.js"></script>
</body>
</html>